body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 20px;
}

.flex{
  display: flex;
  align-items: center;
}

.child_2{
  margin-left: 10px;
  width: 50%;
 
  
}

.child_1{
  width: 50%;
  
  
  
}

.child_1 img{
  width: 100%;
}

.product-title p{
 text-align: left;
}

.product-title a{
  color: #8dbee4; 
  text-decoration: none;
 
}


.container {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.product-image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto 20px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 100px;
}

.season-options {
  display: flex; 
  margin-bottom: 15px;
}

.season-options label {
  margin-right: 15px; 
}

.form-buttons {
  display: flex;
  justify-content:center;
}

.save-button {
  background-color: #ffcc00;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}

.back-button {
  display: inline-block; /* インラインブロックにしてボタンのように見せる */
  background-color: #c3c1c0; 
  color: white; 
  padding: 10px 35px; 
  border-radius: 4px; 
  text-decoration: none; 
  margin-right: 20px;
}

.back-button:hover {
  background-color: #9d9d9c; 
}

.delete-button {  
  color: #ff4d4d; 
  padding: 10px 15px;  
  border: none; 
  cursor: pointer;  
  margin-left: 90%;

  
}



.delete-button:hover {
  color: #850606; 
}

.form__error.text-danger {
  color: red; 
}