.products{
 width: 80%;
 margin: auto;
 
 
}




/* + 商品を追加 */
.add_button{
  background-color: #ffa929;  
  height: 30px;  
  border: none;
  margin-top: 25px; 
   
}


.add_button:hover{
  background-color: #e3a241;  
  
}

.products__heading {
 display: flex;
 justify-content: space-between;
}


/* 検索フォーム */
.search_text{
  border-radius: 80px;
  border: solid 1px #909090;
  height: 30px;
  width: 200px;
}

.sort__button select{  
  border: solid 1px #909090;
  height: 30px;
  width: 200px;
  margin-top: 50px;
  color:#909090 ;
}




/* 検索ボタン */
.search_button{
  background-color: #f5c800;
  width: 140px;
  width: 200px;
}

.search_button:hover{
  background-color: #d2ad04;
  
}

.products__content__search {
  display: flex;
  flex-direction: column; 
}

.search_text {
  margin-bottom: 10px; 
}


.products__content {
  display: flex;
}

.products__content__search {
  flex: 2; 
  margin-right: 20px; 
  
}

.products__content__list {
  flex: 8;   
  display: flex; 
  flex-wrap: wrap;
}

.products__content__list__box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: calc(33.33% - 20px); /* 3つ並べるための幅 */
  margin: 10px;
  box-sizing: border-box; 
  padding: 10px; 
  border: 1px solid #ddd; 
  border-radius: 8px; 
  text-decoration: none;
  color: #333;
}



.products__content__list__image {
  width: 100%; 
  height: auto; 
  margin-bottom: 10px; 
}



.products__content__list__info {
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  background-color: rgba(255, 255, 255, 0.9); 
  border-radius: 8px; 
  margin-top: 5px; 
  width: 100%; 
}

.products__content__list__info h3 {
  margin: 0; 
  font-size: 18px; 
  color: #333; 
  font-weight: bold; 
}

.products__content__list__info p {
  margin: 0; 
  font-size: 16px;
  
}


.pagination {
  text-align: center;
  margin-left: 20%;

  
}

svg.w-5.h-5 {  
  width: 30px;
  height: 30px;
}

.text-sm.text-gray-700.leading-5 {
  display: none; 
}

/* 価格順表示 */

.sort-tag{
  border-radius: 95%; 
  border: 1px solid #f5c800;
  height: 30px;
  width: 180px;
  margin-top: 20px;
  text-align: center;
  padding: 5px 10px ;
  color: #464545;
}

.sort-tag button{
  border-radius: 50%; 
  color: #f5c800;
  border: 1px solid #f5c800;
  background-color: rgb(247, 248, 249);
}

.sort-tag button:hover{
  color: #eac003;
  background-color: #eeeded;
}